.icon-play {
  background-image: url("../../img/play.png");
}
.icon-pause {
  background-image: url("../../img/pause.png");
}
.icon-shrink {
  background-image: url("../../img/shrink.png");
}
.icon-edit {
  background-image: url("../../img/edit.png");
}
.icon-fusion {
  background-image: url("../../img/fusion.png");
}
.icon-exchange {
  background-image: url("../../img/exchange.png");
}
.icon-visible {
  background-image: url("../../img/visible.png");
}
.icon-invisible {
  background-image: url("../../img/invisible.png");
}
.icon-opacity {
  background-image: url("../../img/opacity.png");
}
.icon-order {
  background-image: url("../../img/order.png");
}
.icon-fast2 {
  background-image: url("../../img/fast2.png");
}
.icon-rewind2 {
  background-image: url("../../img/rewind2.png");
}
.icon-home-page2 {
  background-image: url("../../img/home-page2.png");
}
.icon-paly2 {
  background-image: url("../../img/paly2.png");
}
.icon-shadowe2 {
  background-image: url("../../img/shadowe2.png");
}
.icon-stop2 {
  background-image: url("../../img/stop2.png");
}
.icon-twolines {
  background-image: url("../../img/twolines.png");
}
.icon-layerSyn {
  background-image: url("../../img/layerSyn.png");
}
.icon-wwwc {
  background-image: url("../../img/wwwc.png");
}
.icon-wwwcRegion {
  background-image: url("../../img/wwwcregion.png");
}
.icon-freehand {
  background-image: url("../../img/freehand.png");
}
.icon-paging {
  background-image: url("../../img/paging.png");
}
.icon-quickwwwc {
  background-image: url("../../img/quickwwwc.png");
}
.icon-drag {
  background-image: url("../../img/drag.png");
}
.icon-rotateR {
  background-image: url("../../img/rotater.png");
}
.icon-rotateL {
  background-image: url("../../img/rotatel.png");
}
.icon-loadingVR {
  background-image: url("../../img/loading64.GIF");
}
.icon-download {
  background-image: url("../../img/download.png");
}
.icon-upload {
  background-image: url("../../img/open-file.png");
}
.icon-setup {
  background-image: url("../../img/set-up.png");
}
.icon-map {
  background-image: url("../../img/map.png");
}
.icon-mapInner {
  background-image: url("../../img/mapInner.png");
}
.icon-fakecolor {
  background-image: url("../../img/fakecolor.png");
}
.icon-inv {
  background-image: url("../../img/inv.png");
}
.icon-refresh {
  background-image: url("../../img/refresh3.png");
}
.icon-pos {
  background-image: url("../../img/posLine.png");
}
.icon-zoomInOut {
  background-image: url("../../img/zoominout.png");
}
.icon-zoomPart {
  background-image: url("../../img/zoompart.png");
}
.icon-scrollSync {
  background-image: url("../../img/scrollSync.png");
}
.icon-hRev {
  background-image: url("../../img/hRev.png");
}
.icon-vRev {
  background-image: url("../../img/vRev.png");
}
.icon-rect {
  background-image: url("../../img/rect.png");
}
.icon-ellipse {
  background-image: url("../../img/ellipse.png");
}
.icon-angle {
  background-image: url("../../img/angle.png");
}
.icon-text {
  background-image: url("../../img/text.png");
}
.icon-line {
  background-image: url("../../img/line.png");
}
.icon-rectLine {
  background-image: url("../../img/rectLine.png");
}
.icon-arrow {
  background-image: url("../../img/arrow.png");
}
.icon-clear {
  background-image: url("../../img/clear.png");
}
.icon-eraser {
  background-image: url("../../img/eraser.png");
}
.icon-font {
  background-image: url("../../img/font.png");
}
.icon-spot {
  background-image: url("../../img/spot.png");
}
.icon-print {
  background-image: url("../../img/print.png");
}
.icon-join {
  background-image: url("../../img/join.png");
}
.icon-mpr {
  background-image: url("../../img/mpr.png");
}
.icon-3D {
  background-image: url("../../img/3d.png");
}
.icon-web3D {
  background-image: url("../../img/web-3d.png");
}
.icon-lungAI {
  background-image: url("../../img/lung.png");
}
.icon-close {
  background-image: url("../../img/close.png");
}
.icon-fullScreen {
  background-image: url("../../img/fullScreen.png");
}
.icon-mouseL {
  background-image: url("../../img/mouse-left.png");
}
.icon-mouseR {
  background-image: url("../../img/mouser.png");
}
.icon-mouseM {
  background-image: url("../../img/mousem.png");
}
.icon-pointer {
  background-image: url("../../img/pointer.png");
}
.icon-restore {
  background-image: url("../../img/restore.png");
}
