<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <style>
        @media screen and (min-width: 750px) {
            html {
                font-size: 75px;
            }
        }

        @media screen and (max-width: 750px) {
            html {
                font-size: 36px;
            }
        }
    </style>

    <title></title>



    <link href="../css/tab/jqalert.css?v=1.0" rel="stylesheet">

    <link rel="stylesheet" href="../lib/swiper/swiper.css">
    <link href="../css/tab/viewer.css?v=1.0" rel="stylesheet">

    <script src="../css/tab/iconfont/iconfont.js"></script>
    <link rel="stylesheet" href="../css/tab/iconfont/iconfont.css">

    <script src="../config/configTab.js"></script>
    <script>
        document.title=sysName;
    </script>
    <script src="../lib/js/device.min.js"></script>
    <script src="../lib/swiper/swiper.js"></script>

    <script src="../lib/js/jquery-2.1.4.min.js"></script>
    <script src="../lib/js/underscore-min.js"></script>
    <script src="../lib/js/template-web.js"></script>

<!--    <script src="../lib/js/hammer.min.js"></script>-->
<!--    <script src="../lib/js/jquery.hammer.js"></script>-->
    <script src="../lib/js/comLibTab.min.js"></script>
    <script src="../lib/corner/cornerstoneMath.min.js"></script>
    <script src="../js/distTab/lib.min.js"></script>
    <script src="../js/distTab/corner.min.js"></script>
    <script src="../js/distTab/main.min.js"></script>

    <script src="../lib/pop-up-tab/popups.js"></script>
    <script src="../lib/js/jquery.touchSwipe.min.js"></script>

    <script src="../lib/corner/cornerstoneWADOImageLoader.js"></script>
    <script src="../lib/corner/cornerstoneWADOImageLoaderCodecs.js"></script>
    <script src="../lib/corner/cornerstoneWADOImageLoaderWebWorker.js"></script>

    <script>window.cornerstoneWADOImageLoader || document.write('<script src="http://unpkg.com/cornerstone-wado-image-loader">\x3C/script>')</script>
    <script>
        cornerstoneWADOImageLoader.external.cornerstone = cornerstone;

        cornerstoneWADOImageLoader.configure({
            beforeSend: function (xhr) {
                // Add custom headers here (e.g. auth tokens)
                xhr.setRequestHeader('APIKEY', 'my auth token');
            }
        });


    </script>
    <script src="../lib/corner/initializeWebWorkers.js"></script>
    <script src="../lib/js/jschardet.js"></script>
    <script src="../lib/js/iconv.js"></script>



    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/base.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/ui/toolbar.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/ui/menu.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/ui/dialog.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/utilities/nojs.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/utilities/unsupported.css"/>
    <link rel="stylesheet" type="text/css" href="../css/tab/mpr/viewer/viewer.css"/>



    <!--MPR JS start-->


    <script type="text/javascript" src="../lib/mpr/base64-binary.js"></script>
    <script type="text/javascript" src="../lib/mpr/bowser.js"></script>
    <script type="text/javascript" src="../lib/mpr/daikon.js"></script>
    <script type="text/javascript" src="../lib/mpr/nifti-reader.js"></script>
    <!--<script type="text/javascript" src="../lib/jquery.js"></script>-->
    <script type="text/javascript" src="../lib/mpr/numerics.js"></script>
    <script type="text/javascript" src="../lib/mpr/pako-inflate.js"></script>
    <script type="text/javascript" src="../lib/mpr/gl-matrix.js"></script>
    <script type="text/javascript" src="../lib/mpr/gifti-reader.js"></script>
    <script type="text/javascript" src="../lib/mpr/GLU.js"></script>

    <script type="text/javascript" src="../js/thirdMpr/constants.js"></script>

    <script type="text/javascript" src="../js/thirdMpr/utilities/array-utils.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/utilities/math-utils.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/utilities/object-utils.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/utilities/platform-utils.js?v=1.0"></script>
    <script type="text/javascript" src="../js/thirdMpr/utilities/string-utils.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/utilities/url-utils.js"></script>

    <script type="text/javascript" src="../js/thirdMpr/core/coordinate.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/core/point.js"></script>

    <script type="text/javascript" src="../js/thirdMpr/volume/header.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/imagedata.js?v=1.0"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/imagedescription.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/imagedimensions.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/imagerange.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/imagetype.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/nifti/header-nifti.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/dicom/header-dicom.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/orientation.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/transform.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/volume.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/voxeldimensions.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/volume/voxelvalue.js"></script>



    <script type="text/javascript" src="../js/thirdMpr/ui/dialog.js?v=1.1"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menu.js?v=1.0"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitem.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemcheckbox.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemradiobutton.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemfilechooser.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemrange.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemslider.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/menuitemspacer.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/ui/toolbar.js?v=1.1"></script>

    <script type="text/javascript" src="../js/thirdMpr/viewer/atlas.js"></script>
    <script type="text/javascript" src="../js/thirdMpr/viewer/colortable.js"></script>


    <script src="../js/distTab/mpr.min.js"></script>
    <script src="itkVtkViewer.js"></script>


    <!--MPR JS end-->



</head>
<body onload="initWebEngine()">

<!--检查模板-->
<script type="text/html"  id="studyPreviewTemp">
    <div class="study-scan swiper-slide">
        <div class="patient-scan swiper-slide" data-studyId="<%=studyId%>">
        </div>
    </div>
</script>

<!--日期分组模板-->
<script type="text/html"  id='studyDateTimeTemp'>
    <div class="series-time  swiper-slide " data-studyDateTime="<%=studyDateTime%>">
    </div>
</script>


<!--序列模板-->
<script type="text/html"  id="seriesPreviewTemp">
    <div class="series-preview-dcm  swiper-slide" data-seriesNo="<%=seriesNo%>" data-seriesId="<%=seriesId%>"
         id="<%=id1%>" style="background-color: black;">

        <div class="series-img-box" id="<%=id2%>" data-seriesId='<%=seriesId%>' seriesNo='<%=seriesNo %>' instanceNo='<%=instanceNo %>'>
        </div>

        <div class="series-title">
            <div class="series-num"><%=seriesNo%>--<%=total%>
            </div>
            <!--<span class="total">总数:<%=seriesNo%></span>-->
        </div>

    </div>
</script>


<!--信息展示模板-->
<script id="infoLayTemp" type="text/html">
    <div class="lt-info-overlay info-overlay">
        <%for(var c=0;c< ltIfoObj.length;c++){%>
        <div class="info-item " data-itemName="<%=ltIfoObj[c].class%>">{{ltIfoObj[c].text}}</div>
        <%}%>
    </div>
    <div class="lb-info-overlay info-overlay">
        <%for(var c=0;c< lbIfoObj.length;c++){%>
        <div class="info-item " data-itemName="<%=lbIfoObj[c].class%>">{{lbIfoObj[c].text}}</div>
        <%}%>
    </div>
</script>

<!--jpg缩略图-->
<script id="jpgPreviewTemp" type="text/html">
    <div class="series-preview-jpg  swiper-slide"   data-seriesCode="<%=seriesCode%>">
        <div class="series-img-box">
            <img src="<%=url%>">
        </div>
        <div class="series-title">{{seriesNo}}:{{seriesLen}}</div>
    </div>
</script>

<!--jpg展示图-->
<script id="jpgScanTemp" type="text/html">
    <div class="swiper-slide" style="position: relative;">
        <div  style="color: red;position: absolute;top: 5px;left: 5px;">{{index}}</div>
        <img src="<%=url%>">
    </div>
</script>


<div class="main">


    <div class="viewers">
        <div class="viewer dicom-viewer">

            <div class="series-win"></div>


            <div class="wrapper-boxes">
                <div class="top-btn-box">
                    <div class="top-btn  load-alert"  style="background: none; display: none;" >
                        <img src="../img/alert.png"  style="height: 100%;width: auto;">
                    </div>
                    <div class="top-btn show-mpr">MPR</div>
                    <div class="top-btn show-jpg" style="display: none; background: linear-gradient(150deg,#5ed0fc,#9F6EFF);">JPG</div>
                    <div class="top-btn show-default">  <div class="icon iconfont iconrefresh " style="font-size: 20px"></div></div>
                </div>


                <div class="wrapper wrapper-check" data-winNo="0" id="win0">
                    <div class="viewport" id="viewport0"></div>
                    <!-- <div class="lt-info-overlay">
                         <div class="info-item"><span>机构:</span><div class="info-institutionName">第二人民医院</div></div>
                         <div class="info-item"><span>检查ID:</span><div class="info-series-code">23451</div></div>
                         <div class="info-item"><span>图像号:</span><div class="info-curIndex">11</div><span>/</span><div class="info-total">25</div></div>
                         <div class="info-item"><span>病人ID:</span><div class="info-patientId">2345</div></div>
                         <div class="info-item"><span>姓名:</span><div class="info-patientName">李木子</div></div>
                         <div class="info-item"><span>性别:</span><div class="info-patientSex">F</div></div>
                         <div class="info-item"><span>年龄:</span><div class="info-patientAge">074Y</div></div>

                     </div>
                     <div class="lb-info-overlay">
                         <div class="info-item"><span>缩放:</span><div class="info-zoom">0.8</div></div>
                         <div class="info-item"><span>电压:</span><div class="info-zoom">101kV</div></div>
                         <div class="info-item"><span>电流:</span><div class="info-zoom">0.3mA</div></div>
                         <div class="info-item"><span>层厚:</span><div class="info-zoom">0.5mm</div></div>
                         <div class="info-item"><span>窗位/窗宽:</span><div class="info-wwwc">128/256</div></div>
                     </div>-->
                </div>
                <div class="wrapper" data-winNo="1" id="win1">
                    <div class="viewport" id="viewport1"></div>
                </div>
                <div class="wrapper" data-winNo="2" id="win2">
                    <div class="viewport" id="viewport2"></div>
                </div>
                <div class="wrapper" data-winNo="3" id="win3">
                    <div class="viewport" id="viewport3"></div>
                </div>
            </div>
            <div class="thumbnail-container dicom-thumbnail-container"  style="display: none">

                <div class="thumbnail-box  swiper-container-dcm swiper-container" style="overflow: unset;">
                    <div class="thumbnail swiper-wrapper">

                    </div>
                    <div class="layout-box">
                        <ul>
                            <li class="layout layout-check" data-row="1" data-col="1">
                                <div class="icon iconfont iconone-screen "></div>
                            </li>
                            <li class="layout" data-row="1" data-col="2">
                                <div class="icon iconfont iconshuangpingheng "></div>
                            <li class="layout" data-row="2" data-col="1">
                                <div class="icon iconfont iconshuangpingshu "></div>
                            <li class="layout" data-row="2" data-col="2">
                                <div class="icon iconfont iconsiping1 "></div>

                        </ul>
                    </div>
                </div>


            <!--    <div class="thumbnail-box    swiper-container-dcm ">
                    <div class="thumbnail   swiper-wrapper">
                    </div>
                    <div class="layout-box">
                        <ul>
                            <li class="layout layout-check" data-row="1" data-col="1">
                                <div class="icon iconfont iconone-screen "></div>
                            </li>
                            <li class="layout" data-row="1" data-col="2">
                                <div class="icon iconfont iconshuangpingheng "></div>
                            <li class="layout" data-row="2" data-col="1">
                                <div class="icon iconfont iconshuangpingshu "></div>
                            <li class="layout" data-row="2" data-col="2">
                                <div class="icon iconfont iconsiping1 "></div>
                            &lt;!&ndash;  <li class="show-jpg" style=" font-size: 20px; display: none; color: white; line-height: 80px;">JPG
                              </li>&ndash;&gt;
                        </ul>
                    </div>
                </div>-->


            </div>
            <!--播放控制栏-->
            <div class="player-box">
                <div class="player">
                    <div class="play-stop">
                        <div class="start" state="false">
                            <div class="icon iconfont iconplay "></div>
                        </div>

                        <div class="stop" style="display: none;">
                        <div class="icon iconfont iconzantingtingzhi "></div>
                    </div>
                    </div>
                    <div class="scrollBarBox">
                        <div class="speed js-slow">
                            <div class="icon iconfont iconslow-left-copy "></div>
                        </div>
                        <div class="scrollBar">
                            <div class="rectBox">
                                <img class="rect" id="playUrl2" src="../img/tab/scroll-rect.png">
                            </div>
                            <div class="scroll-line"></div>
                        </div>
                        <div class="speed js-fast">
                            <div class="icon iconfont iconfast-right-copy "></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="viewer jpg-viewer">
            <div class="top-btn-box">
                <div class="top-btn hide-jpg">DCM</div>
            </div>

            <div class="swiper-container jpg-img-container">

                <div class=" jpg-img-box swiper-wrapper">

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination" ></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>

            </div>

            <div class="thumbnail-container jpg-thumbnail-container" style="display: block;">

                <div class="thumbnail-box     swiper-container-jpg ">

                    <div class="thumbnail swiper-wrapper  ">
                        <!--<div class="series-preview">-->

                            <!--<div class="series-img-box"><img src="../img/dcm4.jpg"/></div>-->
                            <!--<div class="series-title">jpg：13</div>-->
                        <!--</div>-->

                    </div>


                </div>

            </div>
        </div>
        <div class="viewer mpr-viewer" style="display: none;">
            <div class="mpr-container">
                <!--<div class="hide-mpr"><div class="icon iconfont iconguanbi  "></div></div>-->


                <div class="mpr-box">
                    <div class="papaya" data-params="params">
                        <div class="mpr-tools">
                            <div class="mpr-hide"><div class="icon iconfont iconguanbi"></div></div>
                            <div class="mpr-swap"><div class="icon iconfont iconjiaohuan1"></div></div>
                            <div class="mpr-increment"><div class="icon iconfont iconzengjia"></div></div>
                            <div class="mpr-decrement"><div class="icon iconfont iconjianshao"></div></div>
                        </div>

                    </div>
                </div>
                <div class="web3D-box"  >
                    <div class="mpr-tool web3D-hide" style=" text-align: center; line-height: 40px; border-radius: 100%;  background:#716767;z-index:3;position: absolute;width:40px;height:40px;top: 37px;right: 5px;  display: none;"><div class="icon iconfont iconsidebar_back_hov"></div></div>

                    <div class="ui-container" style="  font-size: 15px; width: 100%;height: 30%; position: absolute;top: 20px;right: 0; z-index: 2;"></div>
                    <!--                    <div class="web-content" style=" width: 100vw; height: 100vh; z-index: 1; position: absolute;" ></div>-->
                    <div class="web-content" style=" width: 100%; height: 100%; z-index: 1; position: absolute;" ></div>


                </div>



            </div>
        </div>
    </div>

    <div class="second-menu-box">
        <div class="second-menu measure">
            <!--测量工具-->
            <div class="measure-tool tool-btn" data-box="probeTouch">
                <div class="icon iconfont iconpoint "></div>
            </div>
            <div class="measure-tool tool-btn" data-box="lengthTouch">
                <div class="icon iconfont iconlength "></div>
            </div>
            <div class="measure-tool tool-btn" data-box="angleTouch">
                <div class="icon iconfont iconangle "></div>
            </div>
            <div class="measure-tool tool-btn" data-box="rectangleRoiTouch">
                <div class="icon iconfont iconrectangle "></div>
            </div>
            <div class="measure-tool tool-btn" data-box="ellipticalRoiTouch">
                <div class="icon iconfont icontuoyuan "></div>
            </div>
            <div class="measure-tool tool-btn" data-box="clear">
                <div class="icon iconfont iconclear "></div>
            </div>
        </div>
        <div class="second-menu tool">
            <!--操作工具-->
            <div class="operate-tool tool-btn" data-box="panTouchDrag">
                <div class="icon iconfont iconyidong "></div>
            </div>
            <div class="operate-tool tool-btn" data-box="zoomTouchDrag">
                <div class="icon iconfont iconzoom "></div>
            </div>
          <!--  <div class="operate-tool tool-btn" data-box="reset">
                <div class="icon iconfont iconrefresh "></div>
            </div>-->

        </div>
        <div class="second-menu more">
            <!--操作工具-->

            <div class="more-tool tool-btn" data-box="referenceLine">
                <div class="icon iconfont icondingweixian "></div>
            </div>

       <!--     <div class="more-tool tool-btn" data-box="infoHide">
                <div class="icon iconfont iconhide "></div>
            </div>-->




        </div>

        <div class="second-menu tiaochuang">

            <div class="more-tool tool-btn" data-box="reset">
                <div class="icon iconfont iconrefresh "></div>
            </div>


        </div>

    </div>

    <div class="main-menu">
<!--menu-btn-check-->
        <div class="menu-btn " data-box="order">
            <div class="icon iconfont iconxulie2 menu-img"></div>
            <div class="menu-name">序列</div>
        </div>
        <div class="menu-btn" data-box="tiaochuang">
            <div class="icon iconfont icontiaochuang menu-img"></div>
            <div class="menu-name">调窗</div>
        </div>
        <div class="menu-btn" data-box="measure">
            <div class="icon iconfont iconmeasure menu-img"></div>
            <div class="menu-name">测量</div>
        </div>
        <div class="menu-btn" data-box="tool">
            <div class="icon iconfont icontools menu-img"></div>
            <div class="menu-name">工具</div>
        </div>
        <div class="menu-btn" data-box="more">
            <div class="icon iconfont iconother-copy menu-img"></div>
            <div class="menu-name">更多</div>
        </div>

    </div>

    <div class="load-tips-box">
        <div class="close-load-tips">
            <img src="../img/common/close.png"   >
        </div>
        <div class=" load-tip-box locked-box">
            <div  class="classify">归档资源:</div>
            <div class="item-box">

            </div>

        </div>
        <div class=" load-tip-box not-exit-box">
            <div  class="classify">异常资源:</div>
            <div class="item-box">

            </div>

        </div>
        <div class=" load-tip-box cross-origin-box">
            <div  class="classify">访问出错:<div  class="load-again" style="cursor: pointer; color:#8ac9ec;   display: inline;    width: fit-content;     margin-left: 27px;">重新加载</div></div>
            <div class="item-box">

            </div>

        </div>
       <!-- <div class=" load-tip-box cross-origin-box">
            <div  class="classify">访问出错:</div>
            <div class="item-box">

            </div>

        </div>-->
    </div>
</div>
<script>

        $(document).ready(function () {
            var token= GetUrlParam("token");
            var studyId= GetUrlParam("studyId");
            // console.log(token,studyId);
            // var url = document.location.toString();

         if (!(device.mobile()||device.tablet())) {
             window.location = "viewer-pc.html?studyId=" + window.btoa(studyId)+"&token="+window.btoa(token);  //移动端页面
             exit;
            }
        });

</script>



</body>
</html>
